{% extends 'nuevo/base.html' %}

{% block content %}

<div class="container-fluid h-50 text-white d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="mb-4">WELCOME TO SAFEZONE</h1>
    <p class="m-0">Discover security on your campus with our app!</p>
    <p class="m-0">We calculate efficient evacuation routes for emergencies at the university</p>
    <a href="/routes/">
        <button type="button" class="btn btn-light mt-4">Evacuation Routes</button>
    </a>
</div>

{% endblock %}