<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ResQRoutes</title>
  </head>

  <body>
    <ul>
      <li>
        <a href="/brigade/">Brigades</a>
      </li>
      <li>
        <a href="/grafo/">Grafos</a>
      </li>
      <li>
        <a href="/node/">Nodes</a>
      </li>
      <li>
        <a href="/route/">Routes</a>
      </li>
      <li>
        <a href="/graph/">Graphs</a>
      </li>
    </ul>

    {% block content %}

    {% endblock %}
  </body>
</html>
